body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 10px 0px 10px;
  gap: 20px;
}

.grid-container, .second-component {
  flex: 1;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .grid-container, .second-component {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
