/* src/assets/styles/AllFlights.css */
.all-flights-container {
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar select,
.search-bar input {
  margin-right: 10px;
  padding: 5px;
}

.flight-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.flight-table th,
.flight-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.flight-table th {
  background-color: #f2f2f2;
}

.flight-table tr:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

.selectedRow {
  background-color: #cccccc !important;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}
